<?xml version="1.0"?>
<config>
    <modules>
        <Aleron75_Magemonolog>
            <version>0.4.0</version>
        </Aleron75_Magemonolog>
    </modules>
    <global>
        <models>
            <magemonolog>
                <class>Aleron75_Magemonolog_Model</class>
            </magemonolog>
        </models>
        <helpers>
            <magemonolog>
                <class>Aleron75_Magemonolog_Helper</class>
            </magemonolog>
        </helpers>
        <log>
            <core>
                <writer_model>Aleron75_Magemonolog_Model_Logwriter</writer_model>
            </core>
        </log>
    </global>
    <default>
        <magemonolog>
            <handlers>
                <StreamHandler>
                    <active>1</active>
                    <params>
                        <stream>magemonolog.log</stream>
                        <level>DEBUG</level>
                        <bubble>true</bubble>
                        <filePermission>null</filePermission>
                        <useLocking>false</useLocking>
                    </params>
                    <!--<formatter>
                        <class>Monolog\Formatter\LogstashFormatter</class>
                        <args>
                            <applicationName><![CDATA[MyAppName]]></applicationName>
                            <systemName><![CDATA[]]></systemName>
                            <extraKey><![CDATA[]]></extraKey>
                            <contextKey><![CDATA[]]></contextKey>
                        </args>
                    </formatter>-->
                </StreamHandler>
                <NativeMailHandler>
                    <active>0</active>
                    <params>
                        <to>dummy@example.com</to>
                        <subject>Log</subject>
                        <from>dummy@example.com</from>
                        <level>ERROR</level>
                        <bubble>true</bubble>
                        <maxColumnWidth>70</maxColumnWidth>
                    </params>
                </NativeMailHandler>
                <NewRelicHandler>
                    <active>0</active>
                    <params>
                        <level>ERROR</level>
                        <bubble>true</bubble>
                        <appname>***your app name here***</appname>
                    </params>
                </NewRelicHandler>
            </handlers>
            <processors>
                <psr_log_message>
                    <active>1</active>
                    <class>Monolog\Processor\PsrLogMessageProcessor</class>
                </psr_log_message>
                <web>
                    <active>1</active>
                    <class>Monolog\Processor\WebProcessor</class>
                </web>
            </processors>
        </magemonolog>
    </default>
</config>